* {
  margin: 0;
  padding: 0;
}

/* cabeçalho */

.futuretube-busca {
  background-color: rgb(237, 133, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh;
  font-weight: bolder;
  font-size: 3vw;
}


input {
  width: 20vw;
  height: 3.5vh;
}

/* meio */

.conteiner-video {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3;
  padding: 1vh;
  font-size: 1.5vw;  
}


section video {
  width: 100%;
}

.conteiner-video > div { 
  margin: 0.4vh; 
  border: 0.3vh solid rgb(163, 235, 165);
}

/* .conteiner-video {  
    display: flex;
  padding: 0.9rem;
}

section video {
    width: 100%;       
}

.conteiner-video > div {
 margin: 0.28rem;
 border: 0.15em solid rgb(163, 235, 165);
} */

.hover-video > p {
  margin: 1vh;
}

/* hover vídeos */

.hover-video:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(237, 133, 68);
  padding: 4vh;
  font-size: 2vw;
}

/* media query */

@media screen and (min-device-width: 0px) and (max-device-width: 480px) {

  .hover-video > p {
    margin: 3vh 0 3vh 0;
  }

  .conteiner-video {
    display: flex;
    flex-wrap: wrap;
    font-size: 3vw;     
  }

 .espaco-futuretube-videos{
   display: flex;
   justify-content: center;
   padding-bottom: 9.3vh;    
 }

  .futuretube-busca {   
    position: fixed;
    flex-wrap: wrap;
    width: 93vw;      
    font-size: 5vw;
  }

  input {     
    width: 25vw;
    height: 4vh;
  }

  .footer { 
  font-size: 3vw;
  }
}
